[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  # This helps with security and caching
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"